[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pyjwt = "*"
pony = "*"
psycopg2 = "*"
marshmallow = "*"
psycopg2-binary = "*"
bcrypt = "*"

[requires]
python_version = "3.7"
