// writing for titles on categories index and ships index

.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.titlemax {
  font-size: 90px;
  height:200px;
  margin: auto;
  font-family: 'Arima Madurai', cursive;
}

.subheading {
  font-size: 50px;
  height:100px;
  margin: auto;
  font-family: 'Arima Madurai', cursive;
  margin: auto;

}

p {
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}
// flex borders on categories index
.section {
  display: flex;
}
.display {
  padding-left: 10px;
  width: 500px;
  flex-wrap: wrap;
  display: inline-flex;
}

.hello {
  padding: 25px;
}

h3 {
  font-size: 30px;
  font-family: 'Arima Madurai', cursive;
  color: black;
}
h4 {
  font-family: 'Arima Madurai', cursive;
  color: black;
}

imgship {
  max-width:300px;
}

.title1 {
  font-size: 100px;
  font-family: 'Arima Madurai', cursive;
  color: white;
  text-shadow: 5px 5px black;

}

.title2 {
  font-size: 100px;
  font-family: 'Arima Madurai', cursive;
  color: white;
  text-shadow: 5px 5px black;

}

.navbar-menu {
  font-size: 30px;
  font-family: 'Arima Madurai', cursive;

}

.imagesLoginpage {
  display: flex;
//   width: 25%;
//   max-height: 200px;
}

.herobody {
  margin-bottom: 150px;
}

.padd1 {
  padding-left: 70px;
  padding-right: 70px;
}

.imgcategory {
  text-align: center;
}

.center {
    text-align: center;
}
