// writing for titles on categories index and ships index

.hero-image {
  background-size: cover;
  background-repeat: no-repeat;

}

.titlemax {
  font-size: 90px;
  height:200px;
  margin: auto;
  font-family: 'Arima Madurai', cursive;
}

.subheading {
  font-size: 40px;
  height:100px;
  margin: auto;
  font-family: 'Arima Madurai', cursive;
  margin: auto;

}

p {
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
  padding: 20px;
}
// flex borders on categories index
.section {
  display: flex;
}
.display {
  padding-left: 10px;
  width: 500px;
  flex-wrap: wrap;
  display: inline-flex;
}

.hello {
  padding: 25px;
}

h3 {
  font-size: 30px;
  font-family: 'Arima Madurai', cursive;
  color: black;
}
h4 {
  font-family: 'Arima Madurai', cursive;
  color: black;
}

imgship {
  max-width:300px;
}

.title1 {
  font-size: 90px;
  font-family: 'Arima Madurai', cursive;
  color: white;
  text-shadow: 5px 5px black;

}

.title2 {
  font-size: 100px;
  font-family: 'Arima Madurai', cursive;
  color: white;
  text-shadow: 5px 5px black;

}

.navbar-menu {
  font-size: 30px;
  font-family: 'Arima Madurai', cursive;

}

.imagesLoginpage {
  display: flex;
//   width: 25%;
//   max-height: 200px;
}


.padd1 {
  padding: 70px;

}

.imgcategory {
  text-align: center;
}

.center {
    text-align: center;
}


.text1cont{
  position: relative;
  text-align: center;
  color: white;
}

.text1 {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-family: 'Arima Madurai', cursive;
  font-size: 40px;
  color: black;
}

.flexinline {
  display: inline-flex;
  width:25%;
  justify-content: center;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
  color: black;
}

form {
  padding: 20px;
  font-family: 'Arima Madurai', cursive;
}
